<div class="col-md-8 col-lg-8 mx-auto">
  <div class="card text-light bg-secondary" style="height: 10em; display: flex; justify-content: center; align-items: center;">
    <h4>Hasta luego <span class="text-warning">{{user.displayName}}</span></h4>
  </div>
</div>
<script>
  destroySession();
</script>